.successful-container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sucess-img{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sucess-img img{
    width: 100%;
    height: 60%;
    opacity: 0.8;
    object-fit: cover;
}